.Plan {
    display: flex;
    margin: 0 -3rem 2px;
    padding: 2cap 2rem;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
    transition: opacity 500ms ease-in-out;
    cursor: grab;
  }
  .Plan-task {
    position: relative;
    transition: opacity 0.4s linear;
  }
  .Plan.completed {
    transition: opacity 300ms ease-in-out;
    transition-delay: 200ms;
    opacity: Plan
  }
  
  .Plan.completed .Plan-task {
    opacity: 0.6;
  }
  .Plan.completed .Plan-task:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5rem;
    display: block;
    width: 0%;
    height: 2px;
    background: #fff;
    animation: strikeitem 0.3s ease-in 0s forwards;
  }
  
  @keyframes strikeitem {
    to {
      width: calc(100% + 1rem);
    }
  }
  
  .Plan-buttons {
    flex-shrink: 0;
    padding-left: 2em;
    margin-left: auto;
  }
  
  .checkbox {
    font-size: 1.2em;
    flex-shrink: 0;
    margin-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
  }
  
  .Plan-buttons button {
    border: none;
    font-size: 1em;
    margin: 0.4em;
    background: none;
    cursor: pointer;
    color: #fff;
  }
  

   /* UI inspired by Sawsan
  [source code https://codepen.io/saawsan/pen/jayzeq?editors=1100 ] */
