.NewPlanForm {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  .NewPlanForm label {
    min-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .NewPlanForm input {
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
    outline: none;
  }
  .NewPlanForm button {
    padding: 0 1.3rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.4s ease-out;
    outline: none;
  }
  .NewPlanForm button:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .NewPlanForm input,
  .NewPlanForm button {
    font-family: "Quicksand", sans-serif;
    height: 3rem
  }


   
      /* CSS for transition animations */
      .plan-enter {
        opacity: 0;
      }
      
      .plan-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }
      
      .plan-exit {
        opacity: 1;
      }
      
      .plan-exit-active {
        opacity: 0;
        transform: translateX(-100%);
        transition: all 500ms ease-in-out;
      }
      
      .form-enter {
        transform: translateY(77px);
        transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
        position: absolute;
      }
      
      .form-enter-active {
        transform: translateY(0%);
        transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
        position: absolute;
      }
      
      .form-exit {
        transform: translateY(0%);
        position: absolute;
      }
      
      .form-exit-active {
        transform: translateY(77px);
        transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
        position: absolute;
      }
      
      .task-text-enter {
        transform: translateY(-77px);
        position: absolute;
      }
      
      .task-text-enter-active {
        transform: translateY(0);
        transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
        position: absolute;
      }
      
      .task-text-exit {
        transform: translateY(0);
        position: absolute;
      }
      
      .task-text-exit-active {
        transform: translateY(-77px);
        position: absolute;
        transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      